@charset "gb2312";
* { margin:0; padding:0; }
html { width:100%; height:100%; overflow:hidden; }
body { text-align:left; font:12px/20px simsun; cursor:default; }
ul { list-style:none; }
a { color:#4C4C4C; }
img { border:none; }
.v_m{ vertical-align: middle;}
/**/
.c_yellow { color:#FFF600; }
/**/
.hd { height:55px; background:#58B1E9; overflow:hidden; position:relative; border-bottom:1px solid #fff; color:#fff; }
.side { background:#fff; height:100%; overflow:auto; zoom:1; }
.fbtn { background:url(../img/frame_btn.gif) repeat-y; width:8px; position:relative; height:100%; }
/**/
.logo {  position:absolute; top:20px; left:15px; font:20px/20px Verdana; }
/**/
.nav { position:absolute; top:31px; left:180px; right:0; zoom:1; overflow:hidden; height:25px; }
.nav li { float:left; overflow:hidden; width:72px; height:25px; text-align:center; margin-right:2px; }
.nav li a { text-decoration:none; display:block; white-space:nowrap; background:url(../img/frame.gif) no-repeat 0 -32px; margin-top:1px; line-height:23px; width:72px; height:23px; padding-top:1px; }
.nav li.selected a, .nav li a:hover { margin-top:0; background-position:0 0; padding-top:2px; color:#1C8DBE; font-weight:bold; }
/**/
.user { position:absolute; white-space:nowrap; position:absolute; top:5px; right:10px; }
/**/
.menu_box { text-align:center; border:1px solid #B5D6E4; padding:1px; margin:0px; }
.menu_box h2 { background:url(../img/frame.gif) repeat-x 0 -64px; line-height:25px; font-size:12px; margin-bottom:1px; cursor: pointer;}
.menu_box h2, .menu_box h2 a { display:block; height:25px; text-decoration:none; color:#fff; }
.menu_box ul { margin-bottom:-1px; }
.menu_box li { background:#EEF7FB; line-height:24px; margin-bottom:1px; }
.menu_box li, .menu_box li a { display:block; zoom:1;  color:#1C8DBE; text-decoration:none; }
.menu_box li.selected, .menu_box li.selected a, .menu_box li a:hover { color:#4C4C4C; font-weight:bold; }
/**/
.fbtn a.open, .fbtn a.close { background:url(../img/frame_btn.gif); display:block; width:8px; height:50px; position:absolute; left:0; top:50%; margin:-25px 0; overflow:hidden; text-indent:-1000px; }
.fbtn a.open { background-position:-16px 0; }
.fbtn a.close { background-position:-8px 0; }
